

<h1><%= @place["name"] %> </h1>

<form action="/entries" method="post">
  
    <label for="place_id"></label>
    <input type="hidden" name="place_id" id="place_id" value="<%= @place["id"] %>">
  
  <p>
    <label for="title">Event Name</label>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>
   <p>
    <label for="event_date">Event Date</label>
    <input type="date" name="event_date" id="event_date">
  </p>
  <button>Submit</button>
</form>
